.secao-confirmacao{
    max-width:400px;  
    padding: 30px 10px;  
    background:#fff;
    border-radius:20px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
    text-align:center;
}

.painel-confirmacao{
    display: block;
    padding: 10px 10px;

}

.icone-confirmacao{
    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:24px;
}

.icone-confirmacao i{
    line-height:1;
}

.msg-confirmacao h1{

    margin-bottom:12px;

    font-size:2rem;

    color:#1f2937;
}

.msg-confirmacao h3{

    margin-bottom:24px;

    color:#4b5563;

    font-weight:500;
}

.msg-confirmacao p{

    margin-bottom:16px;  

    color:#6b7280;

    font-size:1rem;
}


@media (min-width: 769px){

    .painel-confirmacao{

        display:flex;

        justify-content:center;

        align-items:center;

    }

     .painel-confirmacao{

        min-height:calc(100vh - 150px);

}
}